

body{
	background-color: black;
	/*	background-image: url(http://www.freebestwallpapers.info/bulkupload//10/1//Animals/Green-Snake-Mania.jpg);*/
}

#portada{
	width: 1450px;
	height: 900px;
}	

#portada h1{
	text-align: left;
	font-size:75pt;
	font-family: Gabriela;
	margin-top: 2em;
	margin-left: 3em;

}

#python_word{
	color: #A3FF18;
	font-size:90pt;
}

#adestrando{
	color: white;
}

span.tw_cuenta{
	color: #64CAD3;
	font-weight: bold;
}

p{
	font-size:65pt;
	color: white;
	font-family: Sintony;
	text-align: center;
}

.key_word{
	font-weight: bolder;
	font-size: 70pt;
	color:  #A3FF18;
}

.quotes{
	font-weight: bolder;
	font-size:75pt;
}

.names{
	font-size: 18pt;
	text-align: right;
	font-family: Sintony;
	margin-right: 5em;
	color:white;
}

.step{
	width: 900px;
	height: 800px;
	vertical-align: middle;
	text-align: center;
}
